.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
